<%= form_with(model: task, local: true) do |form| %>
  <%= render 'shared/error_explanation' if task.errors.any? %>

  <%= form.label :category_id, 'Category' %>
  <%= form.select :category_id, categories_for_select,
                                { prompt: 'Select a category' },
                                { class: 'form-control' } %>

  <%= form.label :description, 'Description' %>
  <%= form.text_field :description, class: 'form-control' %>

  <div class='actions'>
    <%= form.submit %>
  </div>
<% end %>
